Source: ros-rolling-play-motion2-cli
Section: misc
Priority: optional
Maintainer: Isaac Acevedo <isaac.acevedo@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-pytest-timeout <!nocheck>, ros-rolling-ament-copyright <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-ament-xmllint <!nocheck>, ros-rolling-launch <!nocheck>, ros-rolling-launch-ros <!nocheck>, ros-rolling-launch-testing <!nocheck>, ros-rolling-launch-testing-ros <!nocheck>, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-play-motion2-cli
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-play-motion2, ros-rolling-rclpy, ros-rolling-ros2cli, ros-rolling-ros-workspace
Description: The play_motion command for ROS 2 command line tools.
